{% extends 'core/base.html' %}

{% block Title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}   
    <h1>Roberto Serrano</h1>
    <span class="subheading">Estudiante de Ing. Sistemas</span>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-10 mx-auto">
            <div class="site-heading">
                <H2><b>Portada</b></h2>
                <p>Bienvenido a mi Proyecto de Medio Ciclo</p>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

